#detail_modal_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content: space-around;
    
    #detail_operations {
        height: 60%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        
        #detail_ope_del {
            color: var(--ion-color-orange);
            cursor: pointer;
        }

        #detail_ope_upd {
           
            --background:var(--ion-color-green)
        }

        #detail_ope_see {
            --background:var(--ion-color-blue);
            color:black
        }
    }
}

