<section id="detail_modal_content" *ngIf="recipeInput == false">
  <div id="first_column"></div>
  <div id="second_column">
    <h1>{{data?.title}}</h1>

    <h3>{{data?.description}}</h3>

    <div id="detail_operations">
      <h3>{{"modal.ope_msg" | translate}}</h3>
      <ion-button id="detail_ope_upd">{{"modal.ope_upd" | translate}}</ion-button>
      <ion-button id="detail_ope_see" (click)="modalOperation('see')">{{"modal.ope_see" | translate}}</ion-button>
      <p id="detail_ope_del"  (click)="modalOperation('delete')">{{"modal.ope_del" | translate}} <ion-icon name="trash-outline"></ion-icon></p>
    </div>
  </div>
  <div id="third_column">
    <ion-icon name="close-outline" (click)="closeModal()"></ion-icon>
  </div>
</section>

<!--
<section id="detail_modal_content" *ngIf="recipeInput == true">
  <div id="first_column"></div>
  <div id="second_column">
    <h1>{{data?.title}}</h1>
    <h3>{{data?.duration}}</h3>

    <div id="detail_operations">
      <h3>{{"modal.ope_msg" | translate}}</h3>
      <ion-button id="detail_ope_upd">{{"modal.ope_upd_rec" | translate}}</ion-button>
      <p id="detail_ope_del">{{"modal.ope_del_rec" | translate}} <ion-icon name="trash-outline"></ion-icon></p>
    </div>
  </div>
  <div id="third_column">
    <ion-icon name="close-outline" (click)="closeModal()"></ion-icon>
  </div>
</section>
-->