<ion-content>
  <section id="settings_content">
    <h1>{{"general.app_title" | translate}}</h1>
    <input id="fileLoader" type="file" #fileLoader name="files" title="Load Files" hidden>
    
    <form [formGroup]="form" (ngSubmit)="onSubmit()">

      <ion-avatar id="settings_image_container" (click)="changePic(fileLoader, 'library')">
        <ion-img  *ngIf="currentImage.value" [src]="currentImage$ | async"></ion-img>
        <ion-img *ngIf="!currentImage.value" src="https://ionicframework.com/docs/img/demos/thumbnail.svg"></ion-img>
        <!--<img alt="Silhouette of a person's head" formControlName="pictureFile" (click)="changePic(fileLoader, 'library')" src="https://ionicframework.com/docs/img/demos/avatar.svg" /> -->
      </ion-avatar>

      <ion-item>
        <ion-input type="text" placeholder="{{'placeholder.surname' | translate}}" formControlName="surname"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input type="text" placeholder="{{'placeholder.name' | translate}}" formControlName="name"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input type="text" placeholder="{{'placeholder.email' | translate}}" formControlName="email"></ion-input>
      </ion-item>
    
      <p id="delete_launch_settings" (click)="signOut()">{{"settings.delete_account" | translate}} <ion-icon name="trash-outline"></ion-icon></p>
      
      <div id="btn_container_settings">
        <ion-button id="btn_accept"  type="submit">{{"general.submit" | translate}}</ion-button>
        <ion-button id="btn_cancell" [routerLink]="['/main']">{{"general.cancell" | translate}}</ion-button>
      </div>
    </form>
  </section>
</ion-content>
