<ion-content>
  <ion-slides #slides>
    <ion-slide>
      <div class="slide">
        <div class="title">
          <h2>{{"tutorial.title_slide_1" | translate}}</h2>
        </div>
        <div class="text">
          <p>
            {{"tutorial.text_slide_1" | translate}}
          </p>
        </div>
        <ion-icon name="arrow-forward-outline" (click)="next(slides)"></ion-icon>
      </div>
      <div class="circles_container">
        <div class="circles_box" id="first_box">
          <div class="circle" id="c0"></div>
          <div class="circle" id="c1"></div>
          <div class="circle" id="c2"></div>
        </div>
      </div>
    </ion-slide>

    <ion-slide>
      <div class="slide">
        <div class="title">
          <h2>{{"tutorial.title_slide_2" | translate}}</h2>
        </div>
        <div class="text">
          <p>
            {{"tutorial.text_slide_2" | translate}}
          </p>
          <div id="arrow_container">
            <ion-icon name="arrow-back-outline" (click)="prev(slides)"></ion-icon>
            <ion-icon name="arrow-forward-outline" (click)="next(slides)"></ion-icon>
          </div>
        </div>
      </div>
      
      
      <div class="circles_container">
        <div class="circles_box" id="second_box">
          <div class="circle" id="c0"></div>
          <div class="circle" id="c1"></div>
          <div class="circle" id="c2"></div>
        </div>
      </div>


    </ion-slide>



    <ion-slide>
      <div class="slide">
        <div class="title">
          <h2>{{"tutorial.title_slide_3" | translate}}</h2>
        </div>
        <div class="text">
          <ion-icon name="arrow-back-outline" (click)="prev(slides)"></ion-icon>
          <ion-button fill="clear" [routerLink]="['/main']" color="button">{{"general.start" | translate}} <ion-icon slot="end"
              name="arrow-forward"></ion-icon></ion-button>
  
        </div>
      </div>

     
      <div class="circles_container">
        <div class="circles_box" id="third_box">
          <div class="circle" id="c0"></div>
          <div class="circle" id="c1"></div>
          <div class="circle" id="c2"></div>
        </div>
      </div>
    </ion-slide>
  </ion-slides>
</ion-content>