<ion-content>
  <ion-slides>
    <ion-slide>
      <div class="slide">
        <div class="title">
          <h2>{{"tutorial.title_slide_1" | translate}}</h2>
        </div>
        <div class="text">
          <p>
            {{"tutorial.text_slide_1" | translate}}
          </p>
        </div>
      </div>
      <div class="circles_container">
        <div class="circles_box" id="first_box">
          <div class="circle" id="c0"></div>
          <div class="circle" id="c1"></div>
          <div class="circle" id="c2"></div>
        </div>
      </div>
    </ion-slide>

    <ion-slide>

      <div class="title">
        <h2>{{"tutorial.title_slide_2" | translate}}</h2>
      </div>
      <div class="text">
        <p>
          {{"tutorial.text_slide_2" | translate}}
        </p>
      </div>
      <div class="circles_container">
        <div class="circles_box" id="second_box">
          <div class="circle" id="c0"></div>
          <div class="circle" id="c1"></div>
          <div class="circle" id="c2"></div>
        </div>
      </div>


    </ion-slide>



    <ion-slide>


      <div class="title">
        <h2>{{"tutorial.title_slide_3" | translate}}</h2>
      </div>
      <div class="text">
        <ion-button fill="clear" color="button">{{"general.start" | translate}} <ion-icon slot="end"
            name="arrow-forward"></ion-icon></ion-button>

      </div>
      <div class="circles_container">
        <div class="circles_box" id="third_box">
          <div class="circle" id="c0"></div>
          <div class="circle" id="c1"></div>
          <div class="circle" id="c2"></div>
        </div>
      </div>
    </ion-slide>
  </ion-slides>
</ion-content>