#modal_form_container {
    border-radius: 20px;
   h1 {
    text-align: center;
   }
    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 30vh;
        justify-content: space-evenly;
    }
    ion-item {
        width: 90%;
    }
    #btn_accept {
        --background:var(--ion-color-green)
    }
    #btn_cancell {
        --background: var(--ion-color-red);
    }
}
ion-content {
    --background: var(--ion-color-background);
    --border-radius: 15px;
}
ion-item {
    //background: black;
    --background: var(--ion-color-background);
}

@media (max-width: 767.98px) {
    form {
        height: 50vh !important;
        #btn_container_modal {
            display: flex;
            flex-direction: column;
        }
    }
}