#login_content {
    background: var(--ion-color-background);
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    
    #login_img {
        height: 20vh;
        width: 20vw;
        
    }

    app-signin {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    app-signup {
        width: 100%;
        display: flex;
        justify-content: center;
    }
   
}

@media (max-width: 767.98px) {
    #login_content {
       
        #login_img {
            width: 90% !important;
        }
    }
  


}
