#main_content {
    --background: var(--ion-color-background);
}
#first_layer {
    width: 98%;
    height: 7vh;
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    align-items: center;

    #title_container {
        width: 97%;

    }
    .settings_container {
        border: 3px solid;
        vertical-align: middle;
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        ion-icon {
            font-size: 30px;
            cursor: pointer;
        }
    }
   
}
#main_books_content {
    margin-left: 20px;
    margin-right: 20px;
    ion-col {
        display: flex;
        justify-content: center;
    }
}



@media (max-width: 767.98px){
    #first_layer {
        width: 90%;
        margin-left: 10px;
        margin-right: 10px;

        #title_container {
            width: 95%;
        }

        .settings_container{
            border: 3px solid;
            vertical-align: middle;
            width: 45px;
            height: 40px;
            border-radius: 50%;
        }
    }
    #main_books_content {
        margin-left: 10px;
        margin-right: 10px;
    }
}