#book_container {
    height: 20vh;
    width: 15vw;
    border: 3px solid black;
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (max-width: 767.98px) {
    #book_container {
        width: 70vw;
    }

}