<div id="recipes_content">
  <div id="first_layer">
    <div id="arrow_container">
      <ion-icon name="arrow-back-outline" (click)="goToHome()"></ion-icon>
    </div>
    <div class="settings_container">
      <ion-icon name="settings-outline" [routerLink]="['/settings']"></ion-icon>
    </div>
  </div>
  <app-search-bar [mode]="'recipe'"></app-search-bar>
  

  <div id="main_recipes_content">
    <h3>{{"main_recipes.title" | translate}}{{name}}</h3>

   <!-- Carga de datos -->
   <ion-grid>
      <ion-row>
       <ion-col size="12" size-sm="3" *ngFor="let recipe of list$ | async">
          <app-item-card [item]="{recipe: recipe}" (onDetail)="callDetailModal($event)"></app-item-card>
        </ion-col>
      </ion-row>
   </ion-grid>
  </div>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button color="dark" (click)="createRecipe()">
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
   
  </ion-fab>
</div>

