#main_content {
    background: var(--ion-color-background);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100%;
}

#first_layer {
    width: 98%;
    height: 7vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    ion-icon {
        font-size: 30px;
        cursor: pointer;
    }
    ion-avatar {
        border:3px solid;
        background-color: var(--ion-color-white);
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px !important; 
        height : 40px !important;
    }
}

#second_layer {
    width: 50%;
    height: 93vh;
    display: flex;
    flex-direction: column;
    align-items: center;

    #process_container {
        display: flex;
        height: 10vh;
    }

    #recipe_title_container {
        height: 15vh;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        margin-bottom: 20px;
        h2,h3 {
            margin: 0;
            padding: 0;
        }
        #duration_container {
            display: flex;
            width: 70%;
            align-items: center;
            ion-list {
                background: var(--ion-color-background);
                border:2px solid;
                height: 50%;
                padding-left: 16px;
                padding-right: 16px;
                border-radius: 20px;
                display: flex;
                align-items: center;
            }
            ion-item {
                --background:var(--ion-color-background)
            }
            ion-select {
                --placeholder-opacity: 1;
               
              }
        }
    }
}
ion-accordion-group {
    width: 34vw;
    border-radius: 20px;
}



@media (max-width: 767.98px) {
    #second_layer {
        width: 100%;
    }
}